:root {
  --bg-color: #04044c;
  --secondary-bg-color: #494a7d;
  --primary-color: #fff;
  --secondary-color: #25cc88;
  --text-color: #8789af;
  --border-color: #20235b;
}

#checkout-page {
  background: radial-gradient(
    circle,
    rgba(202, 89, 149, 0.2) 0%,
    rgba(202, 89, 149, 0.25) 10%,
    rgba(202, 89, 149, 0.3) 20%,
    rgba(202, 89, 149, 0.35) 30%,
    rgba(202, 89, 149, 0.4) 30%,
    rgba(202, 89, 149, 0.45) 50%,
    rgba(202, 89, 149, 0.5) 60%,
    rgba(202, 89, 149, 0.55) 70%,
    rgba(202, 89, 149, 0.6) 80%,
    rgba(202, 89, 149, 0.65) 90%,
    #ca5995b3 100%
  );
  color: var(--primary-color);
}

/* Message */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#fade .spinner-border {
  width: 60px;
  height: 60px;
}

.hide {
  display: none !important;
}

#message {
  width: 40%;
}

.alert.alert-light p {
  border-bottom: 1px solid #333;
  padding: 1.2em 0;
}

/* Steps */
#order-form-container {
  padding: 1.5em;
}

#steps {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step i {
  background-color: var(--secondary-color);
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.step .active {
  background-color: var(--secondary-color);
}

.step p {
  color: var(--text-color);
}

.line {
  border-bottom: 1px solid var(--border-color);
  position: absolute;
  top: 22.5px;
  width: 90%;
  left: 5%;
  z-index: -1;
}

/* Form header */
#form-header p {
  color: var(--text-color);
}

/* Form */
#order-form-container {
  max-width: 700px;
}

#order-form-container input,
#order-form-container select {
  border: 2px solid var(--border-color);
}

#order-form-container select {
  padding: 1rem 0.75rem;
}

#order-form-container label {
  color: var(--text-color);
}

#order-form-container input:disabled,
#order-form-container select:disabled {
  color: var(--text-color);
}

#order-form-container input:focus {
  border-color: var(--secondary-color);
}

#order-form-container .form-floating > label {
  left: 1em;
}

#save-btn {
  background: radial-gradient(
    circle,
    rgba(123, 104, 238, 1) 100%,
    rgba(123, 104, 238, 0.2) 60%,
    #7b68ee 100%
  );
  border: none;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
}

/* Responsive */
@media (min-width: 500px) {
  #save-btn {
    width: 8em;
  }
}
.h2 {
  color: #000;
}
